---
import { getTransLink, languages } from "../utils/langs";
import { useStoryblokApi } from "@storyblok/astro";
import isPreview from "../utils/isPreview";

interface IHeaderMenu {
  link: {
    cached_url: string;
    story: {
      name: string;
    };
  };
}

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/config", {
  version: isPreview() ? "draft" : "published",
  resolve_links: "url",
});
const headerMenu: IHeaderMenu[] = data?.story?.content?.header_menu;

const { language, langSwitch } = Astro.props;
---

<header class="h-24 w-full bg-[#f7f6fd]">
  <div class="container mx-auto flex h-full items-center justify-between">
    <a href={getTransLink(language, "/")}>
      <h1 class="text-3xl font-bold text-[#50b0ae]">Storyblok Astro</h1>
    </a>
    <nav>
      <ul class="flex space-x-8 text-lg font-bold">
        {
          headerMenu.map((menu) => (
            <li>
              <a
                href={getTransLink(language, `/${menu.link.cached_url}`)}
                class="hover:text-[#50b0ae]"
              >
                {menu.link.story.name}
              </a>
            </li>
          ))
        }
        {
          languages.map((lang) => (
            <a
              class={`lang-toggle px-2 hover:bg-gray-200 ${lang === language ? "bg-gray-200" : ""}`}
              href={langSwitch[lang]}
            >
              {lang}
            </a>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
